@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=Commissioner:wght@400;500;700&family=Fraunces:ital,wght@0,900;1,700&family=Josefin+Sans:wght@300&family=Outfit:wght@400;700&family=Overpass:wght@300;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=Barlow:wght@600&family=Commissioner:wght@400;500;700&family=Fraunces:ital,wght@0,900;1,700&family=Josefin+Sans:wght@300&family=Outfit:wght@400;700&family=Overpass:wght@300;600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:wght@400;500;700&display=swap");

/*colors*/
:root {
  /*primary colors*/
  --lightred: hsl(356, 100%, 66%); /*cta text*/
  --verylightred: hsl(355, 100%, 74%); /*cta hover bg*/
  --headingscolor: hsl(208, 49%, 24%);

  /*neutral color*/
  --white: hsl(0, 0%, 100%);
  --footertextcolor: hsl(240, 2%, 79%);
  --bodytextcolor: hsl(207, 13%, 34%);
  --footerbg: hsl(240, 10%, 16%);

  /*gradient*/
  /*Background gradient - Intro/CTA mobile nav:*/
  --firstcolor: hsl(13, 100%, 72%);
  --secondcolor: hsl(353, 100%, 62%);

  /*Background gradient - body:*/
  --topcolor: hsl(237, 17%, 21%);
  --bottomcolor: hsl(237, 23%, 32%);

  /*typography*/
  --bodycopy: 16px;
  --parafamily: "Overpass", sans-serif;
  --headingfamily: "Ubuntu", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body {
  font-size: var(--bodycopy);
  font-family: var(--parafamily);
  background-color: hsl(240, 2%, 95%);
}
h1,
h2,
h3 {
  font-family: var(--headingfamily);
  font-size: 700;
  color: var(--headingscolor);
}
a {
  transition: 0.5s ease;
}
button {
  background: none;
  border: none;
  outline: none;
  padding: 5px 12px;
  cursor: pointer;
  border-radius: 20px;
  font-size: 0.9em;
  font-weight: 600;
  transition: 0.5s ease;
  /* letter-spacing: 1px; */
}

/*header style*/
header {
  padding: 25px 40px;
  background-image: url("images/bg-pattern-intro-desktop.svg"),
    linear-gradient(to right, var(--firstcolor), var(--secondcolor));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 0 0 0 50px;
}
@media screen and (max-width: 375px) {
  header {
    position: relative;
    background-image: url("images/bg-pattern-intro-mobile.svg"),
      linear-gradient(to right, var(--firstcolor), var(--secondcolor));
  }
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo-nav {
  display: flex;
  align-items: center;
}
.p-menu {
  display: flex;
  margin-left: 20px;
}
.p-menu > li {
  margin-right: 15px;
  position: relative;
}
.p-menu > li > a,
li i {
  font-size: 0.9em;
  font-weight: 600;
  color: var(--white);
  margin-right: 10px;
  cursor: pointer;
}
.p-menu > li > a:hover {
  text-decoration: underline;
}
li i {
  vertical-align: middle;
  margin-right: 0;
}
.s-menu {
  display: none;
  position: absolute;
  padding: 15px 20px;
  background-color: var(--white);
  left: 50%;

  transform: translateX(-50%);
  border-radius: 6px;
}
.p-menu > li:hover .s-menu {
  display: block;
}
.s-menu li {
  margin-bottom: 15px;
}
.s-menu li a {
  font-size: 0.9em;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
  margin-right: 10px;
  cursor: pointer;
}
.s-menu li a:hover {
  color: rgba(0, 0, 0, 0.9);
}
.up {
  display: none;
}
.p-menu > li:hover .up {
  display: inline-block;
}
.p-menu > li:hover .down {
  display: none;
}
.login {
  color: var(--white);
}
.sign {
  color: var(--verylightred);
  background-color: var(--white);
}
.sign:hover {
  background-color: var(--verylightred);
  color: var(--white);
}
.more {
  margin-top: 60px;
  text-align: center;
}
h1 {
  color: var(--white);
  margin-bottom: 20px;
}
.more p {
  font-size: 0.9em;
  color: var(--white);
  margin-bottom: 25px;
}
.m-btn {
  margin-bottom: 30px;
}
.m-btn a {
  padding: 7px 12px;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 20px;
  border: 1px solid var(--white);
}
.start {
  background-color: var(--white);
  color: var(--secondcolor);
  margin-right: 8px;
}
.start:hover {
  color: var(--white);
  background-color: var(--verylightred);
  border-color: var(--verylightred);
}
.learn {
  color: var(--white);
}
.learn:hover {
  background-color: var(--white);
  color: var(--secondcolor);
}
.toggle {
  display: none;
}
.toggle i {
  color: var(--footertextcolor);
  cursor: pointer;
}
.close {
  display: none;
}
@media screen and (max-width: 660px) {
  .p-menu {
    display: none;
  }
  .navigation .h-btn {
    display: none;
  }
  .toggle {
    display: block;
  }
}
@media screen and (max-width: 360px) {
  .start,
  .learn {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .start {
    margin-bottom: 15px;
  }
}
.mobile-nav {
  display: none;
  position: absolute;
  top: 80px;
  left: 50%;
  width: 90%;
  transform: translateX(-50%);
  background-color: var(--white);
  border-radius: 6px;
  padding-top: 20px;
  padding-bottom: 30px;
  text-align: center;
}
.mobile-nav .p-menu {
  display: block;
  border-bottom: 1px solid hsl(240, 2%, 95%);
}
.p-menu > li > a,
li i {
  color: var(--headingscolor);
}
.mobile-nav i {
  color: var(--secondcolor);
}
.mobile-nav .p-menu > li {
  margin-bottom: 20px;
}
.mobile-nav .s-menu {
  background-color: hsl(240, 2%, 95%);
  width: 100%;
}
.mobile-nav .h-btn button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mobile-nav .h-btn {
  margin-top: 30px;
}
.mobile-nav .h-btn .sign {
  color: var(--white);
  background-image: linear-gradient(
    to right,
    var(--firstcolor),
    var(--secondcolor)
  );
}
.mobile-nav .h-btn .login {
  margin-bottom: 20px;
  color: var(--headingscolor);
}
/*header style*/

/*first section*/
section {
  margin-top: 30px;
}
h2 {
  text-align: center;
  margin-bottom: 30px;
}
.editor {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.content {
  width: 40%;
  padding-left: 40px;
  align-self: center;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.1em;
  margin-bottom: 15px;
  text-align: left;
}
.content p {
  font-size: 0.7em;
  color: var(--bodytextcolor);
  margin-bottom: 40px;
}
.img {
  width: 57%;
}
@media screen and (max-width: 700px) {
  .img {
    width: 45%;
  }
  .content {
    width: 50%;
  }
  .content p {
    margin-bottom: 20px;
  }
}
.img img {
  width: 100%;
}
@media screen and (max-width: 660px) {
  .editor {
    justify-content: stretch;
    flex-wrap: wrap;
  }

  .content {
    width: 100%;
    order: 2;
    text-align: center;
  }
  h3 {
    text-align: center;
  }
  .img {
    width: 100%;
    order: 1;
  }
}
.mobile {
  position: relative;
  display: flex;
  justify-content: space-between;
  justify-content: space-around;
  background-image: url("images/bg-pattern-circles.svg"),
    linear-gradient(to right, var(--topcolor), var(--bottomcolor));
  background-repeat: no-repeat;
  padding-top: 95px;
  padding-bottom: 70px;
  border-radius: 0 30px 0 30px;
}
.phones {
  width: 45%;
  height: 100%;
}
.phones img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
  height: 300px;
}
.disc {
  width: 60%;
  margin-top: -30px;
}
.disc h3 {
  font-size: 1.2em;
  text-transform: uppercase;
  word-spacing: 3px;
  color: var(--white);
}
.disc p {
  color: var(--footertextcolor);
  font-size: 0.8em;
}
@media screen and (max-width: 700px) {
  .mobile {
    padding-top: 0px;
    padding-bottom: 0px;
    border-radius: 0 30px 0 30px;
  }
  .phones img {
    position: unset;
    top: unset;
    transform: unset;
    left: unset;
    width: 100%;
  }
  .disc {
    align-self: center;
  }
}
@media screen and (max-width: 660px) {
  .mobile {
    margin-top: 40px;
    justify-content: stretch;
    flex-wrap: wrap;
    padding-bottom: 40px;
  }
  .phones,
  .disc {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .disc {
    width: 90%;
    text-align: center;
  }
  .phones img {
    width: fit-content;
    margin-top: -60px;
  }
}
.desktop {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.laptob {
  width: 50%;
}
.laptob img {
  width: 100%;
}
.desktop .disc {
  width: 45%;
  align-self: center;
}
.desktop h3 {
  color: var(--headingscolor);
}
.desktop p {
  font-size: 0.7em;
}
.desktop p:first-of-type {
  margin-bottom: 15px;
}
@media screen and (max-width: 660px) {
  .desktop {
    width: 100%;
    justify-content: stretch;
    flex-wrap: wrap;
  }
  .laptob {
    width: 100%;
  }
  .desktop .disc {
    width: 100%;
    text-align: center;
  }
  .desktop p,
  .desktop h3 {
    width: 100%;
  }
}
/*first section*/

/*footer*/
footer {
  margin-top: 20px;
  background-color: var(--footerbg);
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

footer .logo {
  width: fit-content;
}
footer .logo img {
  vertical-align: middle;
}

.links > ul {
  display: flex;
}
.main-links > li > a {
  color: var(--white);
  font-size: 0.8em;
  font-weight: 600;
}
.s-links {
  margin-top: 20px;
  margin-right: 30px;
}
.s-links:last-child {
  margin-right: 0;
}
.s-links a {
  font-weight: 500;
  font-size: 0.8em;
  color: var(--footertextcolor);
}
.s-links a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 500px) {
  footer {
    display: block;
    text-align: center;
  }
  footer .logo {
    width: 100%;
    margin-bottom: 20px;
  }
  .links {
    width: 100%;
  }
  .main-links {
    justify-content: space-between;
  }
}
@media screen and (max-width: 300px) {
  .links > ul {
    display: block;
    text-align: center;
  }
  .main-links > li {
    margin-bottom: 15px;
    margin-right: 0;
  }
  .s-links {
    margin-top: 15px;
  }
}

/*footer*/

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
